body{
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f0ece3;
}
.navbar-brand{
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color:#fa26a0;

}
.content{
  text-align: center;
}
.img-item{
  max-height: 20vh;
  max-width: 20vh;
  min-height: 160px;
  min-width: 160px;
  width: 30vw;
  height: 30vw;
}
.third-div{
  margin: 10px;
  padding: 10px;
}
.col2{
  text-align: left;
}
